__pycache__/
*.pyc
lib/*.lib
sim_out/
flow/designs/*/runs/
*.vcd
*.vvp
run*.tcl
u_*.v
full_gain.v
full_eff.v
opt_*.v
all_nand*.v
gate_count_only*.v
arrival_aware*.v
gco_g.v
aa_g.v
allnand_g.v
behav.v
out/
lean/*.olean
lean/*.ilean
